@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Client Validator</h1>
    <p class="lead">This is the tool where you can upload your inventory and create your GUIDS for them</p>
    <p><a href="http://toolsoft.co" class="btn btn-primary btn-lg">Contact Us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        

    </div>
    <div class="col-md-4">
        

    </div>
    <div class="col-md-4">
        

    </div>
</div>